@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 30 92% 58%;
    --primary-foreground: 210 40% 98%;

    --secondary: 30 78% 77%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --text1: 0 0% 13%;
    --text2: 0 0% 20%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 30 3% 13%;
    --foreground: 210 40% 98%;

    --card: 0 3% 9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 30 100% 49%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 35 37% 25%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --text1: 0 1% 9%;
    --text2: 25 56% 99%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.smooth-shadow {
  box-shadow: var(--perfect-shadow);
  --base: hsla(214, 80%, 27%, 0.247);
  --shade: hsl(from var(--base) calc(h + 8) 25 calc(l - 5));
  --perfect-shadow:
    0 0 0 1px var(--base),
    0 1px 1px -0.5px var(--shade),
    0 3px 3px -1.5px var(--shade),
    0 6px 6px -3px var(--shade),
    0 12px 12px -6px var(--base),
    0 24px 24px -12px var(--base);
}

.float {
  animation: float 10s ease infinite both;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0px);
  }

}

.check {
  animation: check 0.4s ease both;
}

@keyframes check {
  0% {
    opacity: 0;
    scale: 0.3;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    scale: 1;
    transform: rotate(360deg);
  }
}

.uncheck {
  animation: check-out 0.4s ease both;
}

@keyframes check-out {
  0% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }

  100% {
    opacity: 0;
    transform: scale(0.3) rotate(0deg);
  }
}

.topic-card {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 5% cover 18%;
}

@keyframes reveal {
  0% {
    filter: blur(2px) opacity(0.5);
    scale: 0.95;
    transform: translateX(100px);
  }

  100% {
    filter: none;
    scale: 1;
    transform: translateY(0);
  }
}

.comment-card {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 2% cover 12%;
}

@keyframes reveal {
  0% {
    filter: blur(1px) opacity(0.5);
    scale: 0.95;
    transform: translateX(70px);
  }

  100% {
    filter: none;
    scale: 1;
    transform: translateY(0);
  }
}